<template name="answerModal">
  <div class="modal quiz-modal fade" id="quiz-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header quiz-modal-title">
          <h4 class="modal-title" id="h4-label">Correct!</h4>
        </div>
        <div class="modal-body pull-right">
          <button type="button" id="next-btn" class="next btn btn-lg">Next Question</button>
        </div>
      </div>
    </div>
  </div>
</template>