<template name="upcomingLanguageCard">
  <div id="" class="col-md-6 languageCard upcomingLanguageCard">
    <button class="lang-box" value="">
      <p class="language">{{name}}</p>
      <div class="question-box">
        <p class="easy-comp"> Level 1 <span>0/10</span></p>
        <p class="med-comp"> Medium <span>0/15</span></p>
        <p class="hard-comp"> Hard <span>0/20</span></p>
      </div>
              <!-- Add in Total questions, questions completed, difficulty -->
    </button>
  </div>
</template>
