<template name="finalModal">
  <div class="modal final-modal fade" id="final-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header final-modal-title">
          <h4 class="modal-title" id="h4-label">All finished!</h4>
          <h5>You Answered <span id="correct"></span>Out Of <span id="total"></span>Correctly!</h5>
        </div>
        <div class="modal-body">
          <a type="button" id="home" class="btn btn-lg btn-info" href="index.html"><span class="glyphicon glyphicon-home"> </span></a>
          <a type="button" id="retake" class="btn btn-lg btn-info" href="quiz.html">Retake Quiz</a>
        </div>
      </div>
    </div>
  </div>
</template>