<template name="languageCard">
  <div id="" class="col-md-6 languageCard">
    <div class="lang-box" value="">
      <p class="language">{{name}}</p> <!-- Need to color the language and the text and the top based on language, this carries over to the quiz page header -->
    </div>
    <div class="levels row">
      <a href="/level1" class="col-md-4"> <!-- Need to pass the level parameter in the route so the quiz knows -->
        <div class="level1">
          <p>Level 1</p>
        </div>
      </a>
      <a href="/level2" class="col-md-4">
        <div class="level2">
          <p>Level 2</p>
        </div>
      </a>
      <a href="/level3" class="col-md-4">
        <div class="level3">
          <p>Level 3</p>
        </div>
      </a>
    </div>
  </div>
</template>
