<template name="langContent">
  <div class="row main-content">
    <div class="col-md-12">
      <h1 class="text-center main-title shim">Choose Your Language</h1>
    </div>
    <div class="col-md-6">
      <button class="lang-box" value
            ="javascript">
        <p class="language">JavaScript</p>
        <div class="question-box">
          <p class="easy-comp"> Easy <span>0/10</span></p>
          <p class="med-comp"> Medium <span>0/15</span></p>
          <p class="hard-comp"> Hard <span>0/20</span></p>
        </div>
                <!-- Add in Total questions, questions completed, difficulty -->
      </button>
    </div>
    <div class="col-md-6">
      <button class="lang-box" value="jquery">
        <p class="language">jQuery</p>
        <div class="question-box">
          <p class="easy-comp"> Easy <span>0/10</span></p>
          <p class="med-comp"> Medium <span>0/15</span></p>
          <p class="hard-comp"> Hard <span>0/20</span></p>
        </div>
      </button>
    </div>
  </div>
</template>