<template name="mcQuestions">
  <div class="current-question-mc col-md-6 col-md-offset-3">
    <div class="mc-question-text text-center">
      <p></p>
    </div>
    <div class="mc-question-answers text-center">
      <button id="answer1" class="mc-btn btn btn-lg btn-info"></button>
      <button id="answer2" class="mc-btn btn btn-lg btn-info"></button>
      <button id="answer3" class="mc-btn btn btn-lg btn-info"></button>
      <button id="answer4" class="mc-btn btn btn-lg btn-info"></button>
    </div>
  </div>
</template>