/* CSS declarations go here */
* {
    box-sizing: border-box;
}

body {
    color: #666;
    font-family: 'lato' sans-serif;
    font-size: 18px;
    position: absolute;
    width: 100%;
}


a:hover,
a:visited,
a:focus,
a:active {
    text-decoration: none;
}

.logo {
    font-size: 3.5rem;
}

.logo-font {
    font-family: 'courier';
}
.footer-main {
    margin-bottom: 0;
    position: absolute;
    bottom: -55px;
    width: 100%;
    border-radius: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}

.main-title {
    color: #666;
    font-size: 5rem;
    margin-bottom: 90px;
}

.navbar {
    margin-bottom: 0;
}

.title-blue {
    color: #31B0D5;
    text-align: left;
}

#login-buttons-password {
    background: #5BC0DE;
    border: none;
}

#login-other-options p {
    color: #31708F;
}

.info-box p {
    text-align: left;
    margin-bottom: 40px;
}

.signup-text {
    color: #31B0D5;
}

.signup-form {
  text-align: left;
}

.signup-form label {
  margin-left: 20px;
  width: 120px;
}

.signup-form div {
    display: inline-block;
}

.signup-button {
  text-align: right;
  margin-top: 40px;
  height: 40px
}

.modal-body .signup-button a {
    margin-left: 30px;
    width: 90%;
    height: 40px;
}

.shim {
    margin-bottom: 30px;
}

.underline {
    width: 575px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
}

.signup-btn-block {
    margin-top: 30px;
    width: 575px;
}

.signup-btn-body {
    width: 75%;
}

.mini-text a {
    text-decoration: none;
    color: #aaa;
}

.top-content {
    margin-bottom: 90px;
}

.well {
    padding: 0 100px;
    margin: 0;
}

.learn-title {
    padding: 0px;
}

.learn-more {
    margin-top: 40px;
    font-size: 1.5rem;
}

.learning {
    width: 140px;
    padding: 3px;
    margin: -1px auto 30px auto;
    border: 1px solid #E3E3E3;
    border-radius: 0 0 5px 5px;
}

.testimonial-box {
    background: url('lang3.jpg') no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}

.testimonial-spacing {
    margin-top: 60px;
}

.testimonial {
    margin-bottom: 40px;
}

.testimonial p {
    display: block;
    margin-left: 230px;
    padding-top: 20px;
    color: #eee;
    /*text-shadow: 1px .5px #666;*/

}

.testimonial-img {
    border-radius: 100%;
    border: 4px solid rgba(221, 221, 221, .4);
}

.final-call {
    width: 40%;
    margin: 20px auto 60px auto;
}

.final-call a {
    height: 7rem;
    line-height: 5rem;
    font-size: 3rem;
}

.footer {
    color: #aaa;
    margin-bottom: 0;
    width: 100%;
}

.footer-nav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer-nav li {
    display: inline-block;
    float: none;
    font-size: 1.4rem;

}

        /*Pricing Page*/
.pricing-header {
    margin-bottom: 80px;
    margin-top: 80px;
}

.pricing-title {
    text-align: center;
    font-size: 3rem;
}

.price {
    font-size: 2.5rem;
}

.price small {
    font-size: 1.5rem;
}

.list-group {
    text-align: center;
}

.annual {
    color: #fff;
    background: #337AB7;
    font-size: 2rem;
}

.annual:hover {
    background: #fff;
    color: #337AB7;
    border-top: 1px solid #ddd;
}

.monthly {
    color: #31708F;
    background: #D9EDF7;
    font-size: 2rem;
    border-top: 1px solid #D9EDF7;
}

.monthly:hover {
    background: #31708F;
    color: #fff;
}
        /*Language Page Styling*/

.placeholder-body {
    height: 800px;
}

.main-content {
    width: 100%;
    background: url('lang5.png') no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
}

.lang-title {
    font-size: 7rem;
    color: #eee;
    margin-top: 80px;
    margin-bottom: 80px;
}

.lang-box {
    height: 100px;
    width: 80%;
    margin-left: 10%;
    background: rgba(255, 255, 255, .7);
    border-radius: 5px 5px 0 0;
    border: 1px solid #007DA2;
    border-top: 5px solid #007DA2;
    line-height: 100px;
    color: #007DA2;
    /*box-shadow: 2px 2px 3px #aaa;*/
}

.lang-box > p {
    display: inline-block;
}

.lang-box > div {
     display: inline-block;
}

.language {
    text-align: center;
    font-size: 5rem;
    width: 100%;
    padding-left: 5px;
}

.levels {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 60px;
}

.levels button {
    height: 35px;
    line-height: 35px;
    /*display: inline-block;*/
    width: 33.3333%;
    margin: 0;
    padding: 0;
    border-radius: 0 0 5px 5px;
    border: none;
    border-bottom: 1px solid rgba(179, 179, 179, .5);
    text-align: center;
    color: #fff;
    transition: all .5s;
}

.levels div:hover {
    background: #007DA2;
    color: #fff;
    /*box-shadow: 2px 2px 3px #3BD3FF;*/
}

.levels p {
    margin: 0;
}

.level1 {
    border-left: 1px solid rgba(179, 179, 179, .5);
    background: #3AFF6E;
}

.level2 {
    border-left: 1px solid rgba(179, 179, 179, .5);
    border-right: 1px solid rgba(179, 179, 179, .5);
    background: #E8CD29;
}

.level3 {
    border-right: 1px solid rgba(179, 179, 179, .5);
    background: #E0471B;
}

.upcoming-language-card {
    background: rgba(179, 179, 179, .5);
    border: 1px solid #666;
    border-top: 5px solid #666;
    border-radius: 5px;
    color: #666;
    margin-bottom: 40px;
}

.coming-soon {
    position: absolute;
    top: -30px;
    left: 120px;
    font-style: italic;
}

        /*MODAL STYLES*/


.modal {
    top: 30%;
    text-align: center;
}

.modal h4 {
    font-size: 2.5rem;
}

.modal-body a {
    width: 25%;
    margin-left: 6px;
    margin-right: 6px;
}

        /*QUIZ STYLES*/
.quiz-page {
    background: url("Vector_Landscape2.jpg") no-repeat; /*Image from Tutsplus*/
    background-size: cover;
    height: 100%;
    position: fixed !important;
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
}

.extra-padding {
    padding-top: 50px;
}

.title h1 {
    margin-bottom: 0;
    margin-top: 30px;
}

.lang span {
    color: #fff;
    font-weight: bold;
}

.progress {
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 25%;
    margin-right: 25%;
    height: 25px;
    line-height: 25px;
    background: #F6C9AA;
}

.progress-bar {
    font-size: 1.75rem;
}

.questionnaire {
    margin-top: 30px;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px;
    border: none;
    background-color: rgba(245, 245, 245, .65);
}

.question-num {
    margin-right: 10%;
    font-size: 2rem;
    font-weight: bold;
}

.mc-question-text {
    font-size: 2rem;
    margin-bottom: 30px;
}

.mc-question-answers button {
    width: 45%;
    margin-bottom: 10px;
    margin-right: 10px;
}

.fitb-question-text {
    font-size: 2rem;
    margin-bottom: 30px;
}

.fitb-question-answer label {
    margin-right: 10px;
    font-weight: bold;
}

.form-inline button {
    margin-left: 10px;
}

.modal-content {
    overflow: hidden;
}

.next {
    margin-bottom: 0;
}

.quiz-modal-title h4 {
    font-size: 5rem;
    color: #555;
}

.modal-body .btn-good {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.modal-body .btn-bad {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
