<template name="bodyContent">
  <div class="container-fluid">
    <div class="row main-heading">
      <div class="col-md-12">
        <div class="shim">
          <h1 class="text-center main-title">Language Practice for Programmers</h1>
        </div>
      </div>
    </div>

    <div class="row top-content">
      <div class="text-center col-sm-6">
         <img src="screen.png" width='500px' height='300px'>
      </div>
      <div class="col-sm-6">
         <p class="underline">Learn the methods and parameters for a host of programming languages. </p>
         <p class="underline">The best way to practice when beginning a new language or looking to gain deeper knowledge of an old friend.</p>
         <div class="text-center signup-btn-block">
            <p class="text-center">It's free to try, just sign in.</p>
            <a class="btn btn-info btn-lg text-center signup-btn-body signup" href="/pricing" role="button">Master A Language Today</a>
            <p class="mini-text text-center"><em><small><a href="/languages">or try a demo</a></small></em></p>
         </div>
      </div>
    </div>

    <div class="row learn-more">
      <div class="text-center col-sm-12 learn-title">
        <div class="row well info-box">
        <h3 class="learning">Learn More</h3>
          <div class="col-md-6">
            <h4 class="title-blue">What is CodeQuiz?</h4>
            <p>CodeQuiz is a learning tutor for programmers. CodeQuiz's lessons are based on information provided by the w3c and library developers. The quizzes will test your knowledge of the library or framework"s methods and help you learn new ones.</p>
          </div>
          <div class="col-md-6">
            <h4 class="title-blue">How does practicing help me learn?</h4>
            <p>One of the main bottlenecks when learning a new language is understanding the methods and classes. CodeQuiz intentionally focuses on helping you learn the vocabulary of a new language through reptitive practice.</p>
          </div>
          <div class="col-md-6">
            <h4 class="title-blue">How is CodeQuiz different than other options?</h4>
            <p>CodeQuiz does two things differently. First, there are specific and correct answers to questions so you can track your progress unlike traditional flash card models. Second, the questions have tiered difficulty requiring you to understand the material in practice.</p>
          </div>
          <div class="col-md-6">
            <h4 class="title-blue">Can't I just learn a language's vocabulary while programming?</h4>
            <p>Unfortunately, while programming we tend to use tools we are familiar with rather than spending time to learn new tools. When an experienced programmer learns a new langauge she tends to use the strategies from other known langauges rather than new tools.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row testimonial-box">
      <div class="testimonial-spacing">
        <div class="testimonial col-md-8 col-md-offset-2">
          <img src="testpic2.png" class="pull-left testimonial-img">
          <p>"So worth the money! It's amazing there's nothing else like it out there, I feel much stronger with jQuery now and hated having to read the API documentation."</p>
          <p> - Bill A.</p>
        </div>
        <div class="testimonial col-md-8 col-md-offset-2">
          <img src="testpic1.png" class="pull-left testimonial-img">
          <p>"I really enjoy the site, it's been useful and fun. I'm looking forward to seeing what new languages are added over time."</p>
          <p>- Rosa P.</p>
        </div>
        <div class="testimonial col-md-8 col-md-offset-2">
          <img src="testpic3.png" class="pull-left testimonial-img">
          <p>"CodeQuiz helped me gain confidence with my coding skillset. Thanks!"
          </p>
          <p> - George W.</p>
        </div>
      </div>
    </div>

    <div class="row final-call text-center">
            <a class="btn btn-info btn-lg text-center signup-btn-body signup" href="/pricing" role="button">Start Learning Now</a>
    </div>
  </div>
  {{> footer}}

</template>