<template name="footer">
  <div class="footer-main navbar navbar-default">
    <div class="container">
      <div class="row">
        <ul class="nav navbar-nav footer-nav col-md-12 text-center">
          <li><a href="/terms">terms</a></li>
          <li><a href="/privacy">privacy</a></li>
          <li><a href="mailto:contact@codequiz.net">contact</a></li>
          <li><a href="/"><small>&copy; 2015 <span class="logo-font">Code<span class="title-blue">Quiz</span></span></small></a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
