<template name="header">
  <header class="navbar navbar-default navbar-static-top">
    <div class="container-fluid header-bar">
      <div class="navbar-header">
        <a class="navbar-brand logo logo-font" href="/">
          <strong>Code<span class="title-blue">Quiz</span></strong>
         </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/pricing">Plans & Pricing</a></li>
        <li><a href="/languages">Languages</a></li>
        {{> loginButtons align="right"}}
      </ul>
    </div>
  </header>
</template>
