<template name="pricing">
  <div class="container-fluid">
    <h1 class="text-center pricing-header">Impress your developer friends at the next dinner party you're not invited to.</h1>
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <div class="panel panel-primary">
          <div class="pricing-title panel panel-heading">Annual Subscription
          </div>
          <div class="price panel text-center">$96 <small>Per Year</small>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Get 2.5 Free Months Each Year!</li>
            <li class="list-group-item">Full Access To Every Quiz</li>
            <li class="list-group-item">Early Releases of New Content</li>
            <li class="list-group-item">Direct Support at info@codequiz.net</li>
            <li class="list-group-item">We Will Buy You A Beer At Any Conference, Say Hi!</li>
            <li class="btn btn-primary list-group-item annual" value="annual">Subscribe Now!</li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="pricing-title panel panel-heading">Monthly Subscription
          </div>
          <div class="price panel text-center">$9.99 <small>Per Month</small>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Put Dinner on Our Tables</li>
            <li class="list-group-item">Full Access to Every Quiz!</li>
            <li class="list-group-item">Member Forums</li>
            <li class="list-group-item">Direct Support info@codequiz.net</li>
            <li class="btn btn-info list-group-item monthly" value="monthly">Subscribe Now!</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>