<template name="terms">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 terms">
      <h1>Terms of Service</h1>
      <p>The following terms and conditions govern all use of the CodeQuiz website and all content, services and products available at or through the website (taken together, the Website). The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, CodeQuiz's Privacy Policy) and procedures that may be published from time to time on this Site (collectively, the “Agreement”).
      </p>

      <p>Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by CodeQuiz, acceptance is expressly limited to these terms.
      </p>

      <ol>
        <li>Payment and Renewal
          <p>Optional paid services such as the Mechanical Plan are available on the Website (any such services, an “Upgrade”). By selecting an Upgrade you agree to pay CodeQuiz the monthly or annual subscription fees indicated for that service. Payments will be charged on a pre-pay basis on the day you sign up for an Upgrade and will cover the use of that service for a monthly or annual subscription period as indicated. Upgrade fees are not refundable.

          Unless you notify CodeQuiz before the end of the applicable subscription period that you want to cancel an Upgrade, your Upgrade subscription will automatically renew and you authorize us to collect the then-applicable annual or monthly subscription fee for such Upgrade (as well as any taxes) using any credit card or other payment mechanism we have on record for you. Upgrades can be canceled at any time in the Plans and Pricing section the Website.
          </p>
        </li>

        <li>Changes.
          <p>CodeQuiz reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Website following the posting of any changes to this Agreement constitutes acceptance of those changes. CodeQuiz may also, in the future, offer new services and/or features through the Website (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.
          </p>
        </li>

        <li>Disclaimer of Warranties.
          <p>The Website is provided “as is”. CodeQuiz and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither CodeQuiz nor its suppliers and licensors, makes any warranty that the Website will be error free or that access thereto will be continuous or uninterrupted. If you’re actually reading this, here’s a treat. You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk.
          </p>
        </li>

        <li>Limitation of Liability.
          <p>In no event will CodeQuiz, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to CodeQuiz under this agreement during the twelve (12) month period prior to the cause of action. CodeQuiz shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.
          </p>
        </li>

        <li>General Representation and Warranty.
          <p>You represent and warrant that (i) your use of the Website will be in strict accordance with the CodeQuiz Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.
          </p>
        </li>

        <li>Indemnification.
          <p>You agree to indemnify and hold harmless CodeQuiz, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Website, including but not limited to your violation of this Agreement.
          </p>
        </li>

        <li>Miscellaneous.
          <p>This Agreement constitutes the entire agreement between CodeQuiz and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of CodeQuiz, or by the posting by CodeQuiz of a revised version. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; CodeQuiz may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.
          </p>
          <p><small>Adapted from the WordPress Terms of Service</small></p>
          <br><br>
        </li>
      </ol>

    </div>
  </div>
</template>